body {
    height: 100%;
    font-family: Verdana, Arial;
    font-size: 14px;
    background-color: #f8dce0;
}

body > #container {
    height: auto;
}

h1{
    color: #FF69B4;
    padding: 5px;
}


/*　全体の設定 */
#container {
    min-height: 100%;
    height: 100%;
    width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

/*　ヘッダーの編集 */ 
#header {
    margin-bottom: 15px;
}

#menu {
    margin-bottom: 15px;
    overflow: hidden;
}
 
#main {
    overflow: hidden;
    margin-bottom: 15px;
}

#footer {
    font-size: 12px;
    color: #ccc;
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 10px 0 20px;
}

/*　ナビゲーションバーの設定 */
#menu ul li {
    float: left;
    width: 158px;
    line-height:41px;
    font-size: 16px;
    text-align: center;
    background: #f8dce0;
    margin-right: 0px;
    border-radius: 5px;
    border: thin solid #0e0304;
    text-shadow: 0 1px 0 #fff;
}

/*マウスオーバーしたときに色を変える */
#menu ul li:hover {
    background: #eb9ca8;
}

/* ナビゲーションボタンの下線を消す*/
#menu ul li a {
    text-decoration: none;
    display: block;    
}

/*ボタンの色を付ける*/
#MenuOn a, #MenuOn a:hover {
background:#eb9ca8;
} 






