/* style.css*/



#contents {
    float: left;
    width: 600px;
}


#footer {
    font-size: 12px;
    color: #ccc;
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 10px 0 20px;
}
 
h2,h3 {
    font-weight: bold;
    font-size: 20px;
    border-left: 5px solid #ccc;
    padding: 3px 0 3px 10px;
    margin-bottom: 10px;
    text-align: left;
}

/*画像が左にくるようにする*/
ul.box>li>img {
    float: left;
}


ul.box1>li>p {
    margin-left: 70px;
    font-size: 13px;
    margin-bottom: 20px;
}

ul.box1>li>span {
    margin-left: 30px;
    font-size: 15px;
}

/* ul　画像付き投稿*/
ul.box {
    margin-bottom: 15px;
}

ul.box1>li {
    overflow: hidden;
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom: 1px dotted #ccc;
}

ul.box>li:last-child {
    border: none;
}



/*--- リンクの設定 ---*/
.myLink{
display:block;
background: #fff;
}
/*---myLink内の画像---*/
.myLink img{
opacity:1.0;
filter: alpha(opacity=100);
border: none;
}
.myLink:hover img{
opacity: 0.5;
filre:alpha(opacity=50);
}


/* ul　キャプション付き画像　画像の周りにきれいに枠線をつけられる　１４項*/
/*　バッジをつける　＝　１５項*/
/*　アイコン付きメニュー　＝　１６項*/

 
 
 
 
 
 
 