/* style.css*/


 
#contents {
    float: left;
    width: 450px;
}

h2,h3 {
    font-weight: bold;
    font-size: 20px;
    border-left: 5px solid #ccc;
    padding: 3px 0 3px 10px;
    margin-bottom: 10px;
    text-align: left;
}

/* テキストクリック前*/ 
a:link {
color:black;
text-decoration: underline;
}

/* テキストクリック時*/ 
a:hover{
color:#E48E00;
text-decoration:underline;
}
 
p {
    margin-bottom: 14px;
}  
 

/* ul　画像付き投稿*/
ul.products {
    margin-bottom: 15px;
}

/*ドットでボーダーをつける*/
ul.products>li {
    overflow: hidden;
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom: 1px dotted #ccc;
}

/*最後のボーダーを消す*/
ul.products>li:last-child {
    border: none;
}

/*画像が左にくるようにする*/
ul.products>li>img {
    float: left;
    width: 120px;
    border:solid 1px #ccc;
}


ul.products>li>p {
    margin-left: 130px;
    font-size: 13px;
}


#sidebar {
    float: right;
    width: 300px;
}

/*--- リンクの設定 ---*/
.myLink{
display:block;
background: #fff;
}
/*---myLink内の画像---*/
.myLink img{
opacity:1.0;
filter: alpha(opacity=100);
border: none;
}
.myLink:hover img{
opacity: 0.5;
filre:alpha(opacity=50);
}



/* ul　キャプション付き画像　画像の周りにきれいに枠線をつけられる　１４項*/
/*　バッジをつける　＝　１５項*/
/*　アイコン付きメニュー　＝　１６項*/

 
 
 
 
 
 
 