/* style.css*/


 
#contents {
    float: left;
    width: 500px;
} 

.glossaryLINK {
border: 1px solid #CCC;
padding: 10px;
color: #666;
margin-bottom: 20px;
}

.box {
border: 1px solid #FF69B4;
padding: 10px;
color: #666;
margin-bottom: 20px;
}



h2, h3 ,h4{
    font-weight: bold;
}
 
h2 {
    font-size: 20px;
    border-left: 5px solid #ccc;
    padding: 3px 0 3px 10px;
    margin-bottom: 10px;
}
 
p {
    margin-bottom: 14px;
}  
 
/*ドットでボーダーをつける*/
.glossaryLINK {
    overflow: hidden;
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom: 1px dotted #ccc;
}

/*最後のボーダーを消す*/
ul.products>li:last-child {
    border: none;
}




/*--- リンクの設定 ---*/
.myLink{
display:block;
background: #fff;
}
/*---myLink内の画像---*/
.myLink img{
opacity:1.0;
filter: alpha(opacity=100);
width: 100%; 
height: 100%;
border: none;
}
.myLink:hover img{
opacity: 0.5;
filre:alpha(opacity=50);
}



/* ul　キャプション付き画像　画像の周りにきれいに枠線をつけられる　１４項*/
/*　バッジをつける　＝　１５項*/
/*　アイコン付きメニュー　＝　１６項*/

 
 
 
 
 
 
 