<!--wrapper start-->
<div id="wrapper">
<div id="contents">
	<div class="contents-section section-type1 marginB15">
		<h2 class="contents-title title-type1"><span class="contents-title-Ltext">お問い合わせ</span></h2>
			<div class="margin15">
				<p class="alignC fontLL padding15"><strong>お問い合わせ、ありがとうございました。</strong></p>
			</div>
	</div>
</div>
</div>
<!--wrapper end-->